anki==2.1.54
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
grpcio==1.46.3
grpcio-tools==1.46.3
idna==3.6
importlib-metadata==7.0.1
Markdown==3.5.2
orjson==3.9.12
protobuf==3.20.3
pydub==0.25.1
PySocks==1.7.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.1.0
yandex-speechkit==1.3.3
zipp==3.17.0
